@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;0,900;1,300&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.button {
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #f9faf8;
  background: #3882f6;
  border: none;
  border-radius: 8px;
  white-space: nowrap;
}

.button--white-border {
  border: 2px solid #f9faf8;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f2937;
}

.header,
.hero,
.sign-up,
.footer__credits {
  width: 80%;
  max-width: 1000px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 16px 0;
  border-bottom: 1px solid #e5e7eb;
}

.header__title-link {
  font-size: 24px;
  color: #f9faf8;
  white-space: nowrap;
}

.header__navigation-list {
  display: flex;
  gap: 15px;
}

.header__navigation-link {
  font-size: 18px;
  color: #e5e7eb;
  white-space: nowrap;
}

.hero {
  display: flex;
  gap: 50px;
  padding: 80px 0;
}

.hero__content,
.hero__image-container {
  flex: 1;
}

.hero__image-container {
  align-self: center;
}

.hero__content {
  align-self: center;
}

.hero__title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero__text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  padding: 38px 24px 100px;
}

.services__title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.services__examples {
  width: 85%;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.service {
  width: 160px;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.service__image-wrapper {
  width: 100%;
  height: 170px;
}

.service__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.service__description {
  color: #1f2937;
  text-align: center;
}

.reviews {
  padding: 100px 24px;
  background: #e5e7eb;
  display: flex;
  justify-content: center;
}

.review {
  width: 75%;
  max-width: 750px;
}

.review__text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 10px;
}

.review__author {
  font-size: 24px;
  font-weight: 900;
  text-align: end;
  margin-right: 30px;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  padding: 70px 24px;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background: #3882f6;
  padding: 40px 100px;
  border-radius: 8px;
}

.sign-up__title {
  font-size: 22px;
  color: #f9faf8;
}

.sign-up__text {
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  padding: 12px 24px;
}

.footer__credits {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer__credit,
.footer__creator {
  text-align: center;
}

.footer__credit,
.footer__creator,
.footer__creator-link {
  color: #e5e7eb;
}

.footer__copyright-sign {
  margin: 0 5px;
}

.footer__creator-link {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .services__examples {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 430px;
    align-items: center;
  }

  .service__image-wrapper {
    height: 430px;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  .sign-up {
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
  }

  .sign-up__description {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .footer__credits {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .header,
  .header__navigation-list {
    flex-direction: column;
  }

  .header {
    align-items: stretch;
    border-bottom: none;
  }

  .header__title,
  .header__navigation {
    text-align: center;
  }

  .header__navigation-item {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 10px;
    margin-left: -12%;
    margin-right: -12%;
  }

  .service {
    width: 210px;
  }

  .service__image-wrapper {
    height: 210px;
  }
  
  .review__text {
    font-size: 24px;
  }
  
  .review__author {
    font-size: 18px;
  }
}
